@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div class="card">
    <div class="card-body">
        <div class="w-full">
            <div class="mb-3">
                <label class="form-label">Text</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Input placeholder">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="example-password-input" placeholder="Input placeholder">
            </div>
            <div class="mb-3">
                <label class="form-label">Disabled</label>
                <input type="text" class="form-control" name="example-password-input" placeholder="Input placeholder" disabled="">
            </div>
            <div class="mb-3">
                <label class="form-label">Readonly</label>
                <input type="text" class="form-control" name="example-password-input" value="Readolny value" readonly="">
            </div>
        </div>
    </div>
</div>
