<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/lib/tabler/tabler.min.css" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body class="d-flex flex-column" style="background: var(--tblr-bg-surface)">
    <Routes @rendermode="InteractiveServer" />
    <script src="/lib/tabler/tabler.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
