<div class="navbar navbar-expand sticky-top">
    <div class="container">
        <div class="row flex-fill align-items-md-center">
            <div class="col">
                <div class="d-flex align-items-center gap-4">
                    <a href="/" class="navbar-brand navbar-brand-autodark gap-4">
                        Logo
                    </a>
                    <div>
                        <span class="badge">v1.0.0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>